root_dir/*
root_dir/.*
**.vscode**
*.csv
!root_dir/shell_scripts
!root_dir/.bashrc
!root_dir/.tmux.conf
root_dir/.bash_history
!root_dir/.rangerdir
dev_ws/src/frontier_exploration/Doxyfile
dev_ws/src/frontier_exploration/doc/
orb_slam3_docker_20_foxy/
**__pycache__**
