root_dir/*
root_dir/.*
**bash_history**
**.vscode**
*.csv
!root_dir/shell_scripts
!root_dir/.bashrc
!root_dir/.tmux.conf
!root_dir/.rangerdir
!root_dir/launch_exploration.sh
!root_dir/launch_active_slam.sh
!root_dir/build_packages.sh
!root_dir/.bash_profile
!root_dir/frontier_exploration.rviz
!root_dir/.ros/cyclonedds.xml
dev_ws/src/frontier_exploration/Doxyfile
dev_ws/src/frontier_exploration/doc/
dev_ws/build/
dev_ws/install/
dev_ws/log/
dev_ws/src/exploration_sim/
**__pycache__**
**map_data_coverage**
**fslam1**
**rosbag2**
root_dir/.bash_history
